  /* dashboard */
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext");
  html,
  body {
      height: 100%;
      width: 99.23%;
  }
  
  body {
      margin: 0;
      padding: 0;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      background-color: #ececec;
      color: #102c58;
  }
  
  * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
   ::-webkit-input-placeholder {
      color: #c3c3c3;
  }
  
  h1 {
      font-size: 24px;
  }
  
  h2 {
      font-size: 20px;
  }
  
  h3 {
      font-size: 18px;
  }
  
  .u-list {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  .u-input {
      outline: 0;
      border: 1px solid #d0d0d0;
      padding: 5px 10px;
      height: 35px;
      font-size: 12px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-clip: padding-box;
  }
  
  .c-badge {
      font-size: 10px;
      font-weight: 700;
      min-width: 17px;
      padding: 5px 4px;
      border-radius: 100px;
      display: block;
      line-height: 0.7;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      background-color: #f91605;
  }
  
  .c-badge--header-icon {
      position: absolute;
      bottom: 5px;
  }
  
  .tooltip {
      width: 120px;
  }
  
  .tooltip-inner {
      padding: 8px 10px;
      color: #fff;
      text-align: center;
      background-color: #051835;
      font-size: 12px;
      border-radius: 3px;
  }
  
  .tooltip-arrow {
      border-right-color: #051835 !important;
  }
  
  .hamburger-toggle {
      position: relative;
      padding: 0;
      background: transparent;
      border: 1px solid transparent;
      cursor: pointer;
      order: 1;
  }
  
  .hamburger-toggle [class*='bar-'] {
      display: block;
      background: #102c58;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .2s ease all;
      transition: .2s ease all;
      border-radius: 2px;
      height: 2px;
      width: 24px;
      margin-bottom: 4px;
  }
  
  .hamburger-toggle [class*='bar-']:nth-child(2) {
      width: 18px;
  }
  
  .hamburger-toggle [class*='bar-']:last-child {
      margin-bottom: 0;
      width: 12px;
  }
  
  .hamburger-toggle.is-opened {
      left: 3px;
  }
  
  .hamburger-toggle.is-opened [class*='bar-'] {
      background: #102c58;
  }
  
  .hamburger-toggle.is-opened .bar-top {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 15% 15%;
      transform-origin: 15% 15%;
  }
  
  .hamburger-toggle.is-opened .bar-mid {
      opacity: 0;
  }
  
  .hamburger-toggle.is-opened .bar-bot {
      -webkit-transform: rotate(45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 15% 95%;
      transform-origin: 15% 95%;
      width: 24px;
  }
  
  .hamburger-toggle:focus {
      outline-width: 0;
  }
  
  .hamburger-toggle:hover [class*='bar-'] {
      background: #23527c;
  }
  
  .btn-primary:hover {
      background: #23527c;
      border: none;
  }
  
  .header-icons-group {
      display: flex;
      border: 3;
      margin-left: auto;
      height: 100%;
      border-left: 1px solid #cccccc;
  }
  
  .header-icons-group .c-header-icon:last-child {
      border-right: 0;
  }
  
  .c-header-icon {
      position: relative;
      display: flex;
      float: left;
      width: 91px;
      height: 100%;
      align-items: center;
      justify-content: center;
      line-height: 1;
      cursor: pointer;
      border-right: 1px solid #cccccc;
  }
  
  .c-header-icon i {
      font-size: 18px;
      line-height: 15px;
  }
  
  .c-header-icon--in-circle {
      border: 1px solid #d0d0d0;
      border-radius: 100%;
  }
  
  .c-header-icon:hover i {
      color: #95c41f;
  }
  
  .view-heading:hover {
      color: #95c41f;
  }
  
  .l-header {
      padding-left: 70px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      background: #ffffff;
      -webkit-transition: padding 0.5s ease-in-out;
      -moz-transition: padding 0.5s ease-in-out;
      -ms-transition: padding 0.5s ease-in-out;
      -o-transition: padding 0.5s ease-in-out;
      transition: padding 0.5s ease-in-out;
  }
  
  .l-header__inner {
      height: 100%;
      width: 100%;
      display: flex;
      height: 48px;
      align-items: center;
      justify-content: stretch;
      border-bottom: 1px solid;
      border-color: #cccccc;
  }
  
  .sidebar-is-expanded .l-header {
      padding-left: 220px;
  }
  
  .c-search {
      display: flex;
      height: 100%;
      width: 350px;
  }
  
  .c-search__input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 0;
      flex-basis: 100%;
      height: 100%;
      border: 0;
      font-size: 14px;
      padding: 0 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  
  .c-dropdown {
      opacity: 0;
      text-align: left;
      position: absolute;
      flex-direction: column;
      display: none;
      width: 300px;
      top: 30px;
      right: -40px;
      background-color: #fff;
      overflow: hidden;
      min-height: 300px;
      border: 1px solid #d0d0d0;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-clip: padding-box;
      -webkit-box-shadow: 0px 5px 14px -1px #cecece;
      -moz-box-shadow: 0px 5px 14px -1px #cecece;
      box-shadow: 0px 5px 14px -1px #cecece;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  
  .l-sidebar {
      width: 160px;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      bottom: 0;
      /* background: #212529; */
      background: rgba(31, 34, 62, 0.9) none repeat scroll 0 0;
      -webkit-transition: width 0.5s ease-in-out;
      -moz-transition: width 0.5s ease-in-out;
      -ms-transition: width 0.5s ease-in-out;
      -o-transition: width 0.5s ease-in-out;
      transition: width 0.5s ease-in-out;
  }
  
  .l-sidebar .logo {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* background-color: #051835; */
  }
  
  .l-sidebar .logo .logo__txt {
      font-size: 17px;
      line-height: 1;
      color: #fff;
      text-align: center;
      font-weight: 700;
  }
  
  .l-sidebar__content {
      height: 100%;
      position: relative;
  }
  
  .sidebar-is-expanded .l-sidebar {
      width: 220px;
  }
  
  .c-menu>ul {
      display: flex;
      flex-direction: column;
  }
  
  .c-menu>ul .c-menu__item {
      color: #fff;
      max-width: 100%;
      overflow: hidden;
  }
  
  .c-menu>ul .c-menu__item__inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 43px;
      position: relative;
      cursor: pointer;
      color: #fff;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
  }
  
  .c-menu>ul .c-menu__item__inner:before {
      position: absolute;
      content: " ";
      height: 0;
      width: 2px;
      left: 0;
      top: 50%;
      margin-top: -18px;
      /* background-color: #5f9cfd; */
      opacity: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
  }
  
  li a:hover {
      text-decoration: none;
  }
  
  .c-menu>ul .c-menu__item.is-active .c-menu__item__inner:before {
      height: 36px;
      opacity: 1;
  }
  
  .c-menu>ul .c-menu__item i {
      /* flex: 0 0 114px; */
      margin-left: 10px;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
  }
  
  .c-menu>ul .c-menu__item .c-menu-item__expand {
      position: relative;
      left: 100px;
      padding-right: 20px;
      margin-left: auto;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }
  
  .sidebar-is-expanded .c-menu>ul .c-menu__item .c-menu-item__expand {
      left: 0px;
  }
  
  .c-menu>ul .c-menu__item .c-menu-item__title {
      flex-basis: 100%;
      padding-right: 10px;
      position: relative;
      left: 220px;
      opacity: 0;
      -webkit-transition: all 0.7s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -ms-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out;
  }
  
  .c-menu>ul .c-menu__item .c-menu-item__title span {
      font-weight: 400;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
  }
  
  .sidebar-is-expanded .c-menu>ul .c-menu__item .c-menu-item__title {
      left: 0px;
      opacity: 1;
  }
  
  .c-menu>ul .c-menu__item .c-menu__submenu {
      background-color: #051835;
      padding: 15px;
      font-size: 12px;
      display: none;
  }
  
  .c-menu>ul .c-menu__item .c-menu__submenu li {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid;
      border-color: #072048;
      color: #5f9cfd;
  }
  
  .c-menu>ul .c-menu__item .c-menu__submenu li:last-child {
      margin: 0;
      padding: 0;
      border: 0;
  }
  
  main.l-main {
      width: 100%;
      height: 100%;
      padding: 0px 0 0 88px;
      -webkit-transition: padding 0.5s ease-in-out;
      -moz-transition: padding 0.5s ease-in-out;
      -ms-transition: padding 0.5s ease-in-out;
      -o-transition: padding 0.5s ease-in-out;
      transition: padding 0.5s ease-in-out;
  }
  
  main.l-main .content-wrapper {
      padding: 25px;
      height: 100%;
  }
  
  main.l-main .content-wrapper .page-content {
      border-top: 1px solid #d0d0d0;
      padding-top: 25px;
  }
  
  main.l-main .content-wrapper--with-bg .page-content {
      background: #fff;
      border-radius: 3px;
      border: 1px solid #d0d0d0;
      padding: 25px;
  }
  
  main.l-main .page-title {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 25px;
  }
  
  .sidebar-is-expanded main.l-main {
      padding-left: 220px;
  }
  
  .logo-img {
      width: 160px;
      height: 48px;
  }
  
  li.site-menu-item {
      list-style: none;
  }
  
  i.fa.fa-pencil-square-o {
      color: green;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      justify-content: center;
  }
  
  i.fa.fa-trash {
      color: red!important;
      font-size: 20px;
      font-weight: 500;
      display: flex;
      justify-content: center;
  }
  
  table.dataTable thead .sorting {
      background-image: none!important;
  }
  
  th.th-lg.sorting {
      text-align: right;
  }
  
  .content-wrapper.content-wrapper--with-bg {
      margin-top: 73px;
  }
  
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
      font-size: 13px;
  }
  
  .w-100 {
      font-size: 12px;
  }
  
  .profile_size {
      width: 220px!important;
      height: 220px!important;
  }
  /* Dropdown Button */
  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  
  .dropdown-content {
      display: none;
      margin-top: 200px;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 217px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }
  /* Links inside the dropdown */
  
  .dropdown-content a {
      color: black;
      padding: 5px 16px;
      text-decoration: none;
      text-align: center;
      display: block;
  }
  /* Show the dropdown menu on hover */
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  /* new */
  
  a.fa.fa-pencil-square-o {
      color: green;
  }
  
  .soft-recode {
      color: blue;
  }
  
  .hard-recode {
      color: red;
  }
  
  .hard-recode :hover {
      color: red;
  }
  
  .icon-titles {
      font-size: 16px;
  }
  
  .copyright {
      font-size: 16px;
  }
  /* .site-menu-sub .site-menu-item:hover {
background-color: #1e3e6f;
} */
  
  .submenu-color:hover {
      background-color: #95c41f!important;
  }
  /* .menusss:hover {
      background-color: #95c41f;
  } */
  
  .nav .sub-menu {
      display: none;
  }
  /* 16-12-2020*/
  
  .content-wrapper.content-wrapper--with-bg {
      margin-top: 73px;
      padding-left: 180px;
  }
  /* footer */
  
  .copyright.text-center {
      padding-top: 150px;
  }
  
  .copiyright-link:hover {
      color: #95c41f;
      text-decoration: none;
  }
  /* .button-hor {
      background-color: #393f8e!important;
  } */
  
  .add_search {
      border-right: 1px solid #ddd;
      margin-right: 300px;
      display: none;
  }
  
  .php_error {
      color: #d61323;
      font-size: 16px;
  }
  
  img.avatar.rounded-circle.profile_size.img-thumbnail {
      height: 230;
      width: 230;
  }
  
  ul.site-menu-sub {
      padding-left: 12px!important;
  }
  
  .profile-view {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
  }
  
  .upload_warning {
      color: #0b16ac;
  }
  
  .upload_success {
      color: green;
  }
  
  .active_agent {
      background-color: #c5f8ae !important;
  }
  
  .inactive_agent {
      background-color: #fca5a8 !important;
  }
  
  .multi-checkboxss {
      width: 400px!important;
  }
  /* 21/12/2020 */
  
  .search_button {
      border-radius: 5px;
      border: 1px solid white;
      background-color: transparent;
      width: 60px;
  }
  
  .input_button {
      border-radius: 5px;
      border: 1px solid white;
      width: 100%;
  }
  
  .search_button:hover {
      border: 1px solid white;
      border-radius: 3px;
      background: #0b7dda;
      width: 70px;
  }
  
  .img-profile {
      height: 166px!important;
      width: 167px!important;
  }
  
  .caret {
      display: none!important;
  }
  
  .profile-agent {
      width: 167px!important;
      height: 163px!important;
  }
  
  .submenu-color:hover {
      background-color: #95c41f!important;
  }
  /* .menusss:hover {
      background-color: #95c41f;
  } */
  
  .nav .sub-menu {
      display: none;
  }
  /* 16-12-2020*/
  
  .content-wrapper.content-wrapper--with-bg {
      margin-top: 50px;
      padding-left: 180px;
  }
  /* footer */
  
  .copyright.text-center {
      padding: 14px;
      background: #ddd;
  }
  /* .button-hor:hover {
      background-color: #95c41f!important;
  } */
  
  .add_search {
      border-right: 1px solid #ddd;
      margin-right: 300px;
      display: none;
  }
  
  .fa-trash {
      color: #d61323!important;
  }
  
  .php_error {
      color: #d61323!important;
      font-size: 16px;
  }
  
  ul.site-menu-sub {
      padding-left: 8px!important;
  }
  
  .profile-view {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
  }
  
  .upload_success {
      color: green;
  }
  
  .active_agent {
      background-color: #d9fac9 !important;
  }
  
  .inactive_agent {
      background-color: #faccce !important;
  }
  
  .multi-checkboxss {
      width: 400px!important;
  }
  /* 21/12/2020 */
  
  .search_button {
      border-radius: 5px;
      border: 1px solid white;
      background-color: transparent;
      width: 60px;
  }
  
  .input_button {
      border-radius: 5px;
      border: 1px solid white;
      width: 100%;
  }
  
  .search_button:hover {
      border: 1px solid white;
      border-radius: 3px;
      background: #0b7dda;
      width: 70px;
  }
  
  .caret {
      display: none!important;
  }
  
  .profile-agent {
      width: 220px!important;
      height: 220px!important;
  }
  
  .admin_header_image {
      width: 35px;
      height: 35px;
  }
  /* 23/12/2020 */
  
  .address-box {
      height: 83px!important;
  }
  
  .btn .btn-primary {
      color: white!important;
  }
  
  .add_new_remark {
      padding: 1px 4px !important;
  }
  
  .heading-dashboard {
      color: #95c41f;
  }
  /* 4/01/2021 */
  
  label {
      font-size: 13px;
  }
  
  .btn-group>.btn:first-child {
      min-width: 180px;
  }
  
  .btn-group>.btn:first-child {
      max-width: 550px;
  }
  
  .text-danger {
      color: red!important;
  }
  
  a:hover {
      text-decoration: none !important;
      list-style: none !important;
  }
  /* 11/01/2021 */
  /* chat */
  
  .chat {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .chat li {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px dotted #B3A9A9;
  }
  
  .chat li.left .chat-body {
      margin-left: 60px;
  }
  
  .chat li.right .chat-body {
      margin-right: 60px;
  }
  
  .chat li .chat-body p {
      margin: 0;
      color: #777777;
  }
  
  .panel .slidedown .glyphicon,
  .chat .glyphicon {
      margin-right: 5px;
  }
  
  .panel-body {
      overflow-y: scroll;
      /* height: 350px; */
      list-style: none;
  }
  
  #messagesBody {
      height: 350px;
  }
  
   ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
  }
  
   ::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
  }
  
   ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #555;
  }
  
  ul li {
      list-style: none!important;
  }
  
  ul li .chat {
      list-style: none!important;
  }
  /* chat end */
  /* new table 07/02/2021 */
  
  .all-icon {
      width: 150px;
  }
  
  th.th-sm {
      text-align: center;
  }
  /* dashboard card */
  
  .card-counter {
      box-shadow: 2px 2px 10px #DADADA;
      margin: 5px;
      padding: 20px 10px;
      background-color: #fff;
      height: 148px;
      border-radius: 5px;
      transition: .3s linear all;
  }
  
  .card-counter:hover {
      box-shadow: 4px 4px 20px #DADADA;
      transition: .3s linear all;
  }
  
  .card-counter.primary {
      background-color: #007bff;
      color: #FFF;
  }
  
  .card-counter.danger {
      background-color: #ef5350;
      color: #FFF;
  }
  
  .card-counter.success {
      background-color: #66bb6a;
      color: #FFF;
  }
  
  .card-counter.info {
      background-color: #26c6da;
      color: #FFF;
  }
  
  .card-counter i {
      font-size: 5em;
      opacity: 0.2;
  }
  
  .card-counter .count-numbers {
      position: absolute;
      right: 35px;
      top: 20px;
      font-size: 32px;
      display: block;
  }
  
  .card-counter .count-name {
      position: absolute;
      right: 35px;
      top: 65px;
      font-style: italic;
      text-transform: capitalize;
      opacity: 0.5;
      display: block;
      font-size: 18px;
  }
  /* dashboard card end */
  /* pie chart */
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id] li:nth-child(0) {
      color: blue;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id] li:nth-child(1) {
      color: #4d00ff;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id] li:nth-child(2) {
      color: #9900ff;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id] li:nth-child(3) {
      color: #e500ff;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id] li:nth-child(4) {
      color: #ff00cc;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id] li:nth-child(5) {
      color: #ff0080;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id] li:nth-child(6) {
      color: #ff0033;
  }
  /* line 26, ../sass/pizza.scss */
  
  ul[data-pie-id] {
      list-style: none;
      padding: 10px;
  }
  
  [data-pie-id='my-cool-chart'] li:nth-child(0) {
      color: #d84200;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id='my-cool-chart'] li:nth-child(1) {
      color: #fc4d00;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id='my-cool-chart'] li:nth-child(2) {
      color: #ff6420;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id='my-cool-chart'] li:nth-child(3) {
      color: #ff7d44;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id='my-cool-chart'] li:nth-child(4) {
      color: #ff9668;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id='my-cool-chart'] li:nth-child(5) {
      color: #ffaf8b;
  }
  /* line 20, ../sass/pizza.scss */
  
  [data-pie-id='my-cool-chart'] li:nth-child(6) {
      color: #ffc8af;
  }
  
  .edit-icon {
      font-size: 20px!important;
      text-align: center!important;
  }
  
  .delete {
      color: red!important;
  }
  
  .sorting {
      text-align: center!important;
  }
  
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
      vertical-align: middle!important;
  }
  
  td {
      text-align: center;
  }
  /* chart end */
  
  .gender-custom {
      font-size: 1.4rem!important;
  }
  
  .leads {
      width: 450px!important;
  }
  
  button.multiselect.dropdown-toggle.btn.btn-default {
      width: 464px!important;
  }
  
  .top-data {
      margin-right: -25px!important;
  }
  
  .btn-default {
      text-shadow: 0 1px 0 #fff;
      background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%)!important;
      background-image: -o-linear-gradient(top, #fff 0, #fff 100%)!important;
  }
  
  .btn-default:hover {
      background-color: #fff!important;
  }
  
  .top-space-hea {
      margin-top: 90px;
  }
  
  .pagination-inv {
      background-color: #ddd;
      display: flex;
      margin-top: 20px;
      line-height: 3.1;
      width: 20px;
  }
  
  .pagination-inv p,
  strong a {
      color: blue;
  }
  
  .pagination-inv a {
      position: relative;
      display: block;
      padding: .7rem .75rem;
      margin-left: -1px;
      line-height: 1.8;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;
      display: flex;
      font-size: 14px!important;
  }
  
  .btn-success {
      color: #fff!important;
  }
  
  .btn-success:hover {
      color: #102c58!important;
  }
  /* reset our lists to remove bullet points and padding */
  
  .mainmenu,
  .submenu {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  /* make ALL links (main and submenu) have padding and background color */
  
  .mainmenu a {
      display: block;
      text-decoration: none;
      padding: 10px 10px;
      color: #000;
  }
  
  .mainmenu li:hover .submenu {
      display: block;
      max-height: 200px;
  }
  
  .mainmenu li.active>a {
      background-color: #95c41f;
  }
  
  .mainmenu li.active .submenu {
      display: block;
      max-height: 200px;
  }
  
  .submenu {
      overflow: hidden;
      max-height: 0;
      -webkit-transition: all 0.50s ease-out;
  }
  
  .column {
      border-radius: 10px;
  }